/*///// GENERAL STYLING & VARIABLES////*/
* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

/*HEADER*/
/* SCROLL BANNER */
#scrollBanner {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #eb6f9f;
  width: 100vw;
  height: 2rem;
}

.bannerFirst {
  width: 50%;
  color: white;
  font-weight: 300;
  line-height: 2rem;
  font-size: 1rem;
  animation: banner 2s ease-out infinite;
  font-size: 0.7rem;
}
.shippingBanner {
  display: none;
}
.shippingBanner {
  background-color: #eb6f9f;
  color: white;
  z-index: 10;
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2rem;
  padding-right: 35px;
}

.shippingBanner:hover {
  opacity: 0.4;
  cursor: pointer;
}
@keyframes banner {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(5%);
    opacity: 1;
  }
}

/* BURGER MENU */
header {
  position: fixed;
  z-index: 10;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem 1rem 11rem;
  border-bottom: rgb(208, 208, 208) solid 1px;
  /*position: fixed;*/
  top: 0;
  background-color: white;
}
.regularmenu {
  display: none;
}

.hamburger-menu {
  width: 20px;
  height: 15px;
  position: fixed;
  top: 55px;
  left: 25px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navbar {
  width: 100vw;
  height: 100vh;
  opacity: 1;
  position: fixed;
  top: 3.8rem;
  left: -1600px;
  display: flex;
  z-index: 10;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: all 0.5s;
}
.change {
  left: 0;
}

.change .line-1 {
  transform: rotate(-405deg) translate(-1.5px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotate(405deg) translate(-1.5px, -6px);
}

.icons {
  display: flex;
  gap: 1rem;
}
li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 11rem;
  color: black;
  text-decoration: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0;
  background-color: white;
  z-index: 10;
  margin-top: 2rem;
}

.nav-item:first-child {
  background-color: rgb(245, 245, 245);
  padding-top: 1.5rem;
}

.nav-item {
  /* margin: 0.5rem; */
  border-bottom: rgb(208, 208, 208) solid 0.8px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 300;
  letter-spacing: 1px;
  position: relative;
  padding-top: 3px 0;
  padding-left: 0.8rem;
}

.nav-link::before,
.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
}

.nav-link::before {
  top: 0;
  transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
  transform: scaleX(1);
}

.arrow {
  max-width: 1rem;
}

.iconx {
  display: none;
}

/* REGULAR MENU*/
@media screen and (min-width: 768px) {
  .header {
    padding: 1rem 3rem;
  }

  .burgercontainer {
    display: none;
  }

  .regularmenu {
    display: flex;
  }

  .regularmenu ul {
    display: flex;
    gap: 1rem;
    padding-left: 0;
  }

  .iconx {
    display: flex;
  }

  .icons {
    padding-left: 5rem;
  }

  li a:hover {
    border-bottom: black solid 1px;
    padding-bottom: 1.58rem;
  }

  li a:active {
    border-bottom: black solid 1px;
    padding-bottom: 1.58rem;
  }

  /* DROPDOWN */

  .regularmenu ul {
    display: flex;
    gap: 2rem;
  }
  .regularmenu li {
    display: inline;
    position: relative;
  }
  .regularmenu ul ul.options {
    position: absolute;
    display: none;
  }
  .regularmenu li:hover ul.options {
    display: flex;
    gap: 2rem;
  }
  .regularmenu ul ul ul {
    position: absolute;
    display: none;
  }
  .regularmenu li:hover > ul {
    display: block;
  }
}
